#banner{
    background-color: grey; 
    color: black; position:fixed; bottom:5px; right:10px;
}

#greece_container, #greece_footer{
    background-color: rgb(172, 241, 241);
}

#germany_container, #germany_footer{
    background-color:#9e9e9e81;
}

#rome_container, #rome_footer{
    background-color:#aa47bca4
}


#russia_container, #russia_footer{
    background-color:#fbc12dd5
}

#usa_container, #usa_footer{
    background-color:#220f79d2
}

 #usa_container, #usa_footer{
    color:white
}

#song_container, #song_footer{
    background-color:#d47210ee;
}

#siam_container, #siam_footer{
    background-color:#fff176;
}

#arab_container, #arab_footer{
    background-color: #104d13ce;
}

#aztek_container, #aztek_footer{
    background-color: #d84215e1;
}

#eng_container, #eng_footer{
    color:white; background-color: #9f0000dc;
}

#otto_container, #otto_footer{
    background-color: #dcedc8;
}

#iro_container, #iro_footer{
    background-color: #aeaeae;
}

#egy_container, #egy_footer{
    background-color: #fdd835;
}